---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nuestra Visión - Vino Nuevo en Odres Nuevo">
    <main class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-neutral-dark mb-6 text-center">Nuestra Visión</h1>

        <section class="mb-8 bg-neutral-light p-6 rounded-lg shadow-md">
            <p class="text-lg text-neutral-dark leading-relaxed">
                Nuestra visión en "Vino Nuevo en Odres Nuevo" es ser una iglesia apostólica y profética que transforma vidas, familias y comunidades a través del poder del Espíritu Santo y la verdad inmutable de la Palabra de Dios. Anhelamos ver el cumplimiento de los propósitos de Dios en cada individuo, levantando discípulos apasionados que impacten su entorno y extiendan el Reino de Dios en la Tierra. Buscamos ser un cuerpo de creyentes que manifiesta el amor, el poder y la gloria de Dios en cada acción y palabra, siendo luz y sal en nuestra nación.
            </p>
        </section>
    </main>
</Layout>
