---
---

<header class="bg-primary-green text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">Vino Nuevo</a>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/sobre-nosotros" class="hover:underline">Sobre Nosotros</a></li>
                <li><a href="/vision" class="hover:underline">Visión</a></li>
                <li><a href="/mision" class="hover:underline">Misión</a></li>
                <li><a href="/actividades" class="hover:underline">Actividades</a></li>
                <li><a href="/galerias" class="hover:underline">Galerías</a></li>
                <li><a href="/testimonios" class="hover:underline">Testimonios</a></li>
                <li><a href="/peticiones-oracion" class="hover:underline">Peticiones de Oración</a></li>
                <li><a href="/obras" class="hover:underline">Obras</a></li>
                <li><a href="/cursos" class="hover:underline">Cursos</a></li>
                <li><a href="/predicas" class="hover:underline">Predicas</a></li>
                <li><a href="/peliculas" class="hover:underline">Películas</a></li>
            </ul>
        </nav>
    </div>
</header>